# Day 1

## Exercise 1

In [38]:
max_calories = 0
max_elf = 1
elf_calories = 0
elf = 1

with open('day1-input') as file:
    for calories in file:
        if calories != '\n':
            elf_calories += float(calories)
        else:
            if elf_calories > max_calories:
                max_calories = elf_calories
                max_elf = elf
            elf += 1
            elf_calories = 0
        
print(f"Elf number {max_elf} carries the most calories, equal to {max_calories}.")

Elf number 150 carries the most calories, equal to 71471.0.

## Exercise 2

In [52]:
calories_list = []

with open('day1-ex1') as file:
    for calories in file:
        if calories != '\n':
            elf_calories += float(calories)
        else:
            calories_list.append(elf_calories)
            elf_calories = 0
            
calories_list.sort(reverse = True)
sum(calories_list[0:3])

211189.0

# Day 2

## Exercise 1

In [48]:
import pandas as pd

In [49]:
strategy = pd.read_csv('day2-input', names = ['other', 'me'], sep = ' ')
strategy['game'] = strategy['other'] + strategy['me']
strategy.head()

  other me game
0     C  Y   CY
1     B  Y   BY
2     C  Y   CY
3     B  X   BX
4     B  X   BX

In [50]:
rocks = (strategy['me'] == 'X').sum() * 1
papers = (strategy['me'] == 'Y').sum() * 2
scissors = (strategy['me'] == 'Z').sum() * 3

wins = 6 * ((strategy['game'] == 'AY').sum() + (strategy['game'] == 'BZ').sum() + (strategy['game'] == 'CX').sum())
draws = 3 * ((strategy['game'] == 'AX').sum() + (strategy['game'] == 'BY').sum() + (strategy['game'] == 'CZ').sum())

In [51]:
rocks + papers + scissors + wins + draws

9759

Exercise 2

In [54]:
wins = (strategy['me'] == 'Z').sum() * 6
draws = (strategy['me'] == 'Y').sum() * 3

rocks = 1 * ((strategy['game'] == 'AY').sum() + (strategy['game'] == 'BX').sum() + (strategy['game'] == 'CZ').sum())
papers = 2 * ((strategy['game'] == 'AZ').sum() + (strategy['game'] == 'BY').sum() + (strategy['game'] == 'CX').sum())
scissors = 3 * ((strategy['game'] == 'AX').sum() + (strategy['game'] == 'BZ').sum() + (strategy['game'] == 'CY').sum())

In [55]:
rocks + papers + scissors + wins + draws

12429